/* DARK MODE */
/* body.light{
  background-image: linear-gradient(to right, #f8e2c6, #fee5e0, #dffff4); 
  color: black;
}

body.dark{
  background-image: linear-gradient(to right, #464234, #2a3229, #393b3a); 
  color: white;
}

body.light .background{
  background: rgba(255, 255, 255, 0.436);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}

body.dark .background{
  background: rgba(255, 255, 255, 0.693);
  box-shadow: rgba(192, 192, 192, 0.24) 0px 3px 8px;
  color: white;
} */

html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    user-select: none; /* Metin seçimini engeller */
    -webkit-user-select: none; /* Safari'de metin seçimini engeller */
    user-scalable: no; /* Sayfa zoom yapılmasını engeller */
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.light {
    background: linear-gradient(-45deg, #3b82f6, #9333ea, #06b6d4, #6366f1);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    color: black;
}

.dark {
    background: linear-gradient(-45deg, #111827, #1f2937, #7f1d1d, #4b5563);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    color: white;
}